solutions/pi_core/src/Workflows/Invite-NewCoachUser-42EA9C60-128F-EC11-B400-002248427E63.json
{"properties":{"connectionReferences":{"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"crcba_sharedpowerappsforadmins_c7fef"},"api":{"name":"shared_powerappsforadmins"}},"shared_office365users":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"crcba_sharedoffice365users_b3d6a"},"api":{"name":"shared_office365users"}},"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"crcba_sharedteams_f78be"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2022-02-16T10:00:00Z"},"metadata":{"operationMetadataId":"ac0f1f70-92db-4e79-9432-fd6a149a49cb"},"type":"Recurrence","description":"Runs daily @ 10:00"}},"actions":{"Get_Apps_as_Admin":{"runAfter":{"Subtract_from_time":["Succeeded"]},"metadata":{"operationMetadataId":"57e3d1b9-7c5a-4ccb-9f49-d5d8032118f2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"Default-27c92cd9-96b7-474b-971a-3a266c40c677","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"description":"Would not take this approach if moving forward, will use CoE starter kit table"},"Apply_to_each":{"foreach":"@outputs('Get_Apps_as_Admin')?['body/value']","actions":{"Condition":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"4ae048f0-3a22-497a-b524-bb1e0034fbda"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@items('Apply_to_each')?['properties/createdBy/userPrincipalName']"},"authentication":"@parameters('$authentication')"}},"Post_adaptive_card_and_wait_for_a_response":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"7e82816c-697a-41cb-acbf-71eb5346a65f"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"You're creating an app!\",\n                    \"wrap\": true,\n                    \"weight\": \"Bolder\",\n                    \"size\": \"Large\",\n                    \"color\": \"Attention\"\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"Amazing!\\n\\nI'm contacting you to see if you would like some assistance?  I am the CoE coach. A bot, capable of advising you on app architecture, finding help in the community, or helping you with Canvas app development.  If you would like me to help you, please follow the steps below. Alternatively, select the opt-out button and I won't reach out to you again about this app.\",\n                    \"wrap\": true\n                },\n                {\n                    \"type\": \"Container\",\n                    \"items\": [\n                        {\n                            \"type\": \"Input.Toggle\",\n                            \"title\": \"I would like to opt out.\",\n                            \"id\": \"userOptOut\"\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"Step one\",\n                    \"wrap\": true,\n                    \"color\": \"Accent\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"From the options below, please select the kind of assistance you would like, and we'll take things from there.\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"Input.ChoiceSet\",\n                    \"choices\": [\n                        {\n                            \"title\": \"Architecture advice\",\n                            \"value\": \"AppAdv\"\n                        },\n                        {\n                            \"title\": \"Community help\",\n                            \"value\": \"CommHelp\"\n                        },\n                        {\n                            \"title\": \"App development\",\n                            \"value\": \"AppDev\"\n                        }\n                    ],\n                    \"placeholder\": \"Please select\",\n                    \"isMultiSelect\": true,\n                    \"id\": \"helpSelection\"\n                },\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"To ensure that I provide you with advice relevant to your experience and background, can you let me know your experience level with Power Apps development:\",\n                    \"wrap\": true\n                }\n            ]\n        },\n        {\n            \"type\": \"Input.ChoiceSet\",\n            \"choices\": [\n                {\n                    \"title\": \"Beginner, new to Power Apps and app development\",\n                    \"value\": \"NewDev\"\n                },\n                {\n                    \"title\": \"Beginner, new to Power Apps, with app development experience\",\n                    \"value\": \"Choice 2\"\n                },\n                {\n                    \"title\": \"Advanced\"\n                }\n            ],\n            \"placeholder\": \"Please select\",\n            \"style\": \"expanded\",\n            \"id\": \"experienceSelection\"\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Submit request\"\n                }\n            ]\n        }\n    ]\n}","body/body/updateMessage":"Thanks for your response!","body/body/recipient/to":"@{items('Apply_to_each')?['properties/createdBy/userPrincipalName']};"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"greaterOrEquals":["@items('Apply_to_each')?['properties/createdTime']","@body('Subtract_from_time')"]},"metadata":{"operationMetadataId":"9621e724-b0f2-45bc-b597-f50f468a1b21"},"type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"metadata":{"operationMetadataId":"7bb7b8be-6777-427d-9b20-7ea29b89fb19"},"type":"Foreach"},"Subtract_from_time":{"runAfter":{},"metadata":{"operationMetadataId":"9985b51c-44ba-4b88-ab3d-6a644d7cc383"},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@{utcNow()}","interval":24,"timeUnit":"Hour"},"description":"Calculate time 24 hours ago from now"}}}},"schemaVersion":"1.0.0.0"}