solutions/pi_core/src/Workflows/Invite-NewCoachUser-42EA9C60-128F-EC11-B400-002248427E63.json
{"properties":{"connectionReferences":{"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"crcba_sharedpowerappsforadmins_c7fef"},"api":{"name":"shared_powerappsforadmins"}},"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"crcba_sharedteams_f78be"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2022-02-16T10:00:00Z"},"metadata":{"operationMetadataId":"ac0f1f70-92db-4e79-9432-fd6a149a49cb"},"type":"Recurrence","description":"Runs daily @ 10:00"}},"actions":{"Get_Apps_as_Admin":{"runAfter":{"Subtract_from_time":["Succeeded"]},"metadata":{"operationMetadataId":"57e3d1b9-7c5a-4ccb-9f49-d5d8032118f2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"Default-27c92cd9-96b7-474b-971a-3a266c40c677","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"},"description":"Would not take this approach if moving forward, will use CoE starter kit table"},"Apply_to_each":{"foreach":"@outputs('Get_Apps_as_Admin')?['body/value']","actions":{"Condition":{"actions":{"Post_adaptive_card_in_a_chat_or_channel":{"runAfter":{},"metadata":{"operationMetadataId":"e5bf21f4-9827-4680-adea-40dcbfea7a64"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Power Virtual Agents","location":"powerva","body/bot":"new_bot_fe2e768b2a024f8fb73e71e3c2e4e9eb","body/recipient":"@{items('Apply_to_each')?['properties/createdBy/userPrincipalName']};","body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"You're creating an app!\",\n                    \"wrap\": true,\n                    \"weight\": \"Bolder\",\n                    \"size\": \"Large\",\n                    \"color\": \"Attention\"\n                }\n            ]\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"Amazing!\\n\\nI'm contacting you to see if you would like some assistance?  I am the CoE coach. A bot, capable of advising you on app architecture, finding help in the community, or helping you with Canvas app development.  If you would like me to help you, type 'get started'. If you would like to opt-out, enter 'opt out' and I won't contact you again about this app.\",\n                    \"wrap\": true\n                }\n            ]\n        }\n    ]\n}","body/attribution":true,"body/activeChat":"Send","body/installedError":"Fail"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"greaterOrEquals":["@items('Apply_to_each')?['properties/createdTime']","@body('Subtract_from_time')"]},"metadata":{"operationMetadataId":"9621e724-b0f2-45bc-b597-f50f468a1b21"},"type":"If"}},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"metadata":{"operationMetadataId":"7bb7b8be-6777-427d-9b20-7ea29b89fb19"},"type":"Foreach"},"Subtract_from_time":{"runAfter":{"strUserExperienceLevel":["Succeeded"]},"metadata":{"operationMetadataId":"9985b51c-44ba-4b88-ab3d-6a644d7cc383"},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@{utcNow()}","interval":24,"timeUnit":"Hour"},"description":"Calculate time 24 hours ago from now"},"strAdviceRequested":{"runAfter":{},"metadata":{"operationMetadataId":"b5223701-5619-436d-b3a5-6c164612f451"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strAdviceRequested","type":"string"}]}},"strUserExperienceLevel":{"runAfter":{"strAdviceRequested":["Succeeded"]},"metadata":{"operationMetadataId":"1edc85aa-4ecc-49cd-9062-5e8558230d5c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"strUserExpLevel","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}